<!--<div class="container">
  <h2></h2>
  <hr>

</div>
<nav class="navbar navbar-default">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    <a class="navbar-brand"routerLinkActive="active" [routerLink]="['/home']">Challenge App</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav ">

      
      <li routerLinkActive="active"> <a [routerLink]="['/register']">Register</a></li>
      <li routerLinkActive="active"> <a [routerLink]="['/about']">Sign In</a></li>
      
      <li routerLinkActive="active"> <a [routerLink]="['/about']">About</a></li>
      <li routerLinkActive="active"> <a [routerLink]="['/list']">Challenges List</a></li>
    </ul>
    
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        
        <input type="text" [(ngModel)]="queryString" placeholder="Search to type" [ngModelOptions]="{standalone: true}" class="form-control">
      </div>
      

      <button type="submit" class="btn btn-default">Search</button>

    </form>
  </div>

</nav>-->




<div class="container">
  <div class="container">
    <h2></h2>
    <hr>

  </div>
<div class="bs-component">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
        <a class="navbar-brand" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  [routerLink]="['/home']">Challenge App</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/about']">About</a></li>
          <li *ngIf="authService.loggedIn()"[routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/list']">Challenges List</a></li>

        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/register']">Register</a></li>
          <li *ngIf="!authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/sign-in']">Sign In</a></li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/profile']">User Profile</a></li>
          <li *ngIf="authService.loggedIn()"> <a (click)="onSignoutClick()"href="#">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</div>

